hello {{title}} <!--Interpolaction-->
<br>
<button type="button" [disabled]="isDisabled">{{myBtn}}</button><!--attribute binding-->
<br>
<img alt="angularImg" height="150px" width="150px" [src]="imagePath"/>

<br>
<div [style.backgroundColor] = "bgColor"> <!--style binding-->
    <h2 [style.color] = "titleColor">title</h2>
    <p [style] = "description">description</p>
</div>

<br>
<button (click)="IncrementCounter()">Increment counter</button>
<p>counter is = {{counter}}</p>

<br>
<!-- <p [class.textColor]="redText">apply class on this text</p> -->
<p [class.textColor]="redText == 'yes'">apply class on this text</p>

<br>
<!-- Two way databinding -->
<input [(ngModel)]="inputText" placeholder="Enter text"> <!-- ngModel is builtin Attribute Directives , 2 way databinding-->
<p>you entered  {{inputText}}</p> 

<!-- builtin Attribute Directives	 -->
<!-- ngClass -->
<br>
<div [ngClass]="classes">
    {{message}}
</div>

<br>
<!-- ngStyle -->
<div class="color-box" [ngStyle]="{'background-color':selectedColor}"> <!--add new style with class-->
    boxx
</div>

<br>
<!-- Structure Directives -->
<label>--Structure Directives - ngIf--</label>
<div *ngIf="isLoggedIn">welcome {{username}}</div>
<div *ngIf="!isLoggedIn">please login</div>
<div *ngIf="isLoggedIn && true">Login content</div>

<br>
<label>--Structure Directives - ngIf else--</label><br>
 <div *ngIf="isLoggedIn; else logout">welcome {{username}} ..</div>
 <ng-template #logout>please login..</ng-template>

<br>
<label>--Structure Directives - ngfor--</label><br>
<ul>
    <li *ngFor="let name of names; let i =index">{{i}} {{ name }}</li>
</ul>

<br>
<label>--Structure Directives - ngswitch--</label><br>

<div [ngSwitch]="grade">
    <p *ngSwitchCase="'A'">Execllent</p>
    <p *ngSwitchCase="'B'">Good</p>
    <p *ngSwitchDefault="">Unknown</p>
</div>

<br>
<!--Pipe-->
<!-- case pipe -->
<label>--Build in Pipes--</label><br>
<h1>{{pipeTitle | uppercase}}</h1>

<!-- date pipe -->
<div>
    <p>Today is {{today}}</p>
    <p>Today is {{today | date}}</p>
    <p>Today is {{today | date : "fullDate"}}</p>
    <p>Today is {{today | date : "hh:mm:ss"}}</p>
</div>

<!-- currency pipe -->
<p>{{currency | currency}}</p>
<p>{{currency | currency: "EUR"}}</p>
<p>{{currency | currency: "EUR" : "symbol" : "2.1-3"}}</p>

<!-- percentage pipe -->
<p>{{currency | percent}}</p>


<!--Custom Pipe = (ng generate pipe pipes/append) -->
<h1>{{pipeTitle | append:"Custom1" }}</h1>

<!-- dependency injection  (created on service using "command ng g s services/messages" command)-->
 <h1>dependency injection</h1>
 <p>{{messages}}</p>

 <!-- API Integration -->
  <h1>API Posts Data</h1>
  <div *ngFor="let post of posts">
    <h3>{{post.title}}</h3>
    <p>{{post.body}}</p>
    <hr/>
  </div>

  <h1>API Posts Data with interface</h1>
  <div *ngFor="let post of posts1">
    <h3>{{post.title}}</h3>
    <p>{{post.body}}</p>
    <hr/>
  </div>

  <br/>
  <!-- Template Driven form -->
  <div>
    <h1>Template Driven form</h1>
    <label>User</label>
    <form #userForm="ngForm" (ngSubmit)= "submitForm(userForm)">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" [(ngModel)]="user.name" required/>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="user.email" required/>
        </div>
        <div>
            <button type="submit" [disabled]="userForm.invalid || !validateEmail()">Submit</button>
        </div>
    </form>
  </div>

  <!-- Reactive form -->

  <div>
    <br>
    <h1>Reactive form</h1>
    <form [formGroup]="userReactiveForm" (ngSubmit)="SubmitReactiveForm()"> <!-- parent formGroup  -->
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Name" formControlName="name"/>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" placeholder="Email" formControlName="email"/>
        </div>
        <div formGroupName="address"> <!-- subfrom   nestedform-->
            <label for="street">Email:</label>
            <input type="text" id="street" name="street" placeholder="Street" formControlName="street"/>

            <label for="city">City:</label>
            <input type="text" id="city" name="city" placeholder="City" formControlName="city"/>
        </div>
        <div formArrayName="phoneNumbers">
            <div *ngFor="let phoneCtrl of phoneNumbers.controls; let i = index">
                <label>Phone Number {{i+1}} :</label>
                <input type="text" [formControlName] = "i"/>
                <button type="button" (click)="removePhoneNumber(i)">Remove Phone Number</button>
            </div>
            <div>
                <button type="button" (click)="addPhoneNumber()">Add Phone Number</button>
            </div>
        </div>
        <div>
            <button type="submit" [disabled]="userReactiveForm.invalid">Submit</button>
        </div>
    </form>
  </div>
